
// Color
$primary_color: #f65d5d;
$sub_color: #fdb07d;
$p_color: #666666;
$heading_color: #333333;
$white_color:#fff;

$bg_1 : #f9f2f0;

//Fonts
$font_1: 'Open Sans', sans-serif;
$font_2: 'Playfair Display', serif;


$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';



.events-page-section {
    .event-item {
        margin-bottom: 50px;
    }
}
.blog-item {
    margin-bottom: 30px;
    border-radius: 14px;
    border-radius: 13px;
    overflow: hidden;
    @include box-shadow(0px 5px 6px rgba(72, 105, 114, 0.15));
    @include transition(all 0.4s);
    &:hover {
        @include box-shadow(0px 12px 32px rgba(72, 105, 114, 0.15));
    }
    img {
        margin-bottom: 35px;
        width: 100%;
    }
    .bi-text {
        text-align: center;
        padding: 0 35px 10px;
        h2 {
            font-size: 25px;
            margin-bottom: 15px;
            a {
                color: $heading_color;
                @include transition(all 0.4s);
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
    .bi-footer {
        overflow: hidden;
        padding: 21px 30px 15px;
        border-top: 1px solid #e6e6e6;
        @media #{$xs_mobile} {
            text-align: center;
        }
    }
    .bi-cata {
        float: left;
        font-size: 14px;
        color: $p_color;
        position: relative;
        padding-left: 12px;
        margin-bottom: 10px;
        @media #{$xs_mobile} {
            float: none;
            display: inline-block;
        }
        &:after {
            position: absolute;
            content: "";
            width: 5px;
            height: 5px;
            left: 0;
            top: calc( 50% - 2px);
            border-radius: 20px;
            background: $primary_color;
        }
    }
    .bi-social {
        float: right;
        @media #{$xs_mobile} {
            float: none;
        }
        a {
            color: $p_color;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.bg-g-1 {
    background: -moz-linear-gradient(145deg, rgba(246,93,93,1) 0%, rgba(253,176,125,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(246,93,93,1) 0%, rgba(253,176,125,1) 100%);
    background: linear-gradient(145deg, rgba(246,93,93,1) 0%, rgba(253,176,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f65d5d",endColorstr="#fdb07d",GradientType=1);
}

.site-pagination {
    display: flex;
    justify-content: center;
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        min-width: 34px;
        color: #666666;
        border: 1px solid #e8e8e8;
        border-radius: 50px;
        margin-right: 10px;
        font-size: 14px;
        margin-bottom: 5px;
        &:hover {
            @extend .bg-g-1;
            color: #fff;
        }
        i {
            font-size: 18px;
        }
        &.active {
            @extend .bg-g-1;
            border-color: transparent;
            color: #fff;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
