@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

/*---------------------
  Blog details page
-----------------------*/
.blog-preview {
    img {
        border-radius: 12px;
        margin-bottom: 40px;
        width: 100%;
    }
}
.blog-details {
    padding-top: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    @media #{$tab_device,$large_mobile,$small_mobile} {
        padding-right: 0;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .blog-meta {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 30px;
        @media #{$tab_device} {
            margin-right: 0;
        }
        @media #{$large_mobile, $small_mobile} {
            margin-right: 0;
            margin-bottom: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        i {
            font-size: 20px;
            color: $primary_color;
            margin-right: 10px;
            position: relative;
            top: 3px;
        }
        p {
            color: $heading_color;
            margin-bottom: 0;
        }
    }
    p{
        margin-bottom: 30px;
    }
    blockquote {
        margin-left: 75px;
        margin-top: 40px;
        font-style: italic;
        font-size: 16px;
        color: $p_color;
        padding-right: 20px;
        line-height: 1.8;
        position: relative;
        margin-bottom: 25px;
        @media #{$small_mobile} {
            margin-left: 30px;
        }
        &:after {
            position: absolute;
            content: "";
            width: 62px;
            height: 52px;
            left: -30px;
            top: -12px;
            background: url("../img/icons/quota-2.png") no-repeat scroll 0 0/cover;
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        li {
            position: relative;
            padding-left: 29px;
            margin-bottom: 5px;
            font-size: 16px;
            color: #666666;
            i {
                position: absolute;
                left: 0;
                top: 3px;
                color: $primary_color;
                font-size: 16px;
            }
        }
    }
    .ed-cata {
        i {
            font-size: 20px;
            color: $primary_color;
            margin-right: 10px;
            position: relative;
            top: 3px;
        }
        p {
            color: $p_color;
            margin-bottom: 0;
        }
    }
    .ed-social {
        a {
            display: inline-block;
            width: 34px;
            height: 34px;
            padding-top: 6px;
            margin-right: 6px;
            margin-bottom: 14px;
            font-size: 15px;
            text-align: center;
            color: $p_color;
            background: #f2f4f5;
            border-radius: 50%;
            @include transition(all 0.2s);
            &:hover {
                color: #fff;
                background: $primary_color;
            }
        }
    }
}


.blog-gallery {
    margin-bottom: 20px;
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .col-md-4 {
        padding-right: 10px;
        padding-left: 10px;
    }
    img{
        border-radius: 13px;
        margin-bottom: 20px;
        min-width: 100%;
    }
}

.blog-author-card {
    padding-top: 45px;
    border-top: 1px solid #e6e6e6;
}

.blog-author {
    padding: 36px 40px;
    margin-bottom: 55px;
    overflow: hidden;
    border-radius: 13px;
    @include box-shadow(0px 5px 6px rgba(72, 105, 114, 0.15));
    @media #{$small_mobile} {
        text-align: center;
        padding: 36px 20px;
    }
    img {
        float: left;
        width: 130px;
        height: 130px;
        margin-right: 30px;
        border-radius: 50%;
        @media #{$small_mobile} {
            float: none;
            margin-bottom: 25px;
            margin-right: 0;
        }
    }
    .ba-text {
        overflow: hidden;
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    .ba-social {
        a {
            display: inline-block;
            color: $p_color;
            margin-right: 10px;
            &:hover {
                color: $primary_color;
            }
        }
    }
}

.blog-nav {
    display: inline-block;

    margin-bottom: 40px;
    position: relative;
    h3 {
        font-size: 18px;
    }
    i {
        position: absolute;
        top: 5px;
        font-size: 35px;
        color: $primary_color;
    }
    &.bn-prev {
        padding-left: 40px;
        i {
            left: 0;
        }
    }
    &.bn-next {
        padding-right: 40px;
        i {
            right: 0;
        }
    }
}


.sb-widget {
    .search-form {
        position: relative;
        input {
            width: 100%;
            height: 49px;
            padding-left: 29px;
            padding-right: 30px;
            border-radius: 41px;
            border: 1px solid #e6e6e6;
            background: #fafafa;
            font-size: 14px;
        }
        button {
            position: absolute;
            right: 15px;
            top: 0;
            height: 100%;
            background: transparent;
            border: none;
            color: #a6a6a6;
            padding-top: 5px;
            i{
                font-size: 18px;
            }
        }
    }
    ul.sb-list {
        list-style: none;
        padding-top: 5px;
        li {
            a {
                display: inline-block;
                font-size: 16px;
                color: $p_color;
                margin-bottom: 12px;
                span {
                    margin-left: 10px;
                }
            }
        }
    }
    .sb-tags {
        a {
            display: inline-block;
            border-radius: 50px;
            padding: 5px 16px;
            margin-right: 6px;
            margin-bottom: 10px;
            color: $p_color;
            font-size: 16px;
            border: 1px solid #e6e6e6;
            background: #fafafa;
            &:hover {
                color: $primary_color;
            }
        }
    }
}

.latest-post-widget {
    .lp-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .lp-thumb {
            width: 86px;
            height: 68px;
            float: left;
            margin-right: 18px;
            border-radius: 5px;
        }
    }
    .lp-text {
        overflow: hidden;
        padding-top: 10px;
        h3 {
            font-size: 17px;
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 0;
        }
        i{
            position: relative;
            color: $primary_color;
            font-size: 16px;
            top: 3px;
            margin-right: 10px;
        }
    }
}

.insta-widget {
    display: block;
    margin: 0 -5px 80px;
    overflow: hidden;
    .insta-item {
        width: 33.333333%;
        float: left;
        padding: 0 5px;
        margin-bottom: 10px;
        img {
            min-width: 100%;
        }
        &:hover {
            .insta-hover {
                top: calc(50% - 12px);
                @include opacity(1);
            }
            .insta-img:after {
                @include opacity(0.9);
            }
        }
    }
    .insta-img {
        border-radius: 7px;
        overflow: hidden;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgb(246,93,93);
            background: -moz-linear-gradient(145deg, rgba(246,93,93,1) 0%, rgba(253,176,125,1) 100%);
            background: -webkit-linear-gradient(145deg, rgba(246,93,93,1) 0%, rgba(253,176,125,1) 100%);
            background: linear-gradient(145deg, rgba(246,93,93,1) 0%, rgba(253,176,125,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f65d5d",endColorstr="#fdb07d",GradientType=1);
            @include opacity(0);
            @include transition(all 0.4s);
        }
    }
    .insta-hover {
        position: absolute;
        top: calc(50% - 20px);
        left: 0;
        width: 100%;
        text-align: center;
        @include opacity(0);
        z-index: 99;
        @include transition(all 0.4s);
        i {
            font-size: 18px;
            color: $white_color;
        }
    }
}
